body{
    background-color: red;
}

h1{font-family: 'Source Code Pro', monospace;
    font-size: 60px;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: .00000000000000004pc;
}
    
